---
layout: default
title: "Photos"
redirect_from: "/photos"
header_title: A Glance of My Life
include_header: page_header.html
nav_item: Life
---


{% for photo in site.data.photos %}
<div class="col sm-col-6 px2 mt2 mb2 {% if forloop.last %}mb4{% endif %}" style="min-height: 300px">
    <a href="/assets/img/photos/{{photo.url}}" target="_blank" class="block button button-transparent button-narrow border border-light-gray px1 py1">
      <img 
      style= "image-orientation: from-image;"
    data-src="/assets/img/photos/{{photo.url}}" alt="{{photo.title}}" class="valign-middle lazyload">
      <div class="px1 pt1 center">
        <span class="mt0 mb0 h6 header-font">{{photo.title}}</span>
      </div>
      </a>
  </div>
{% endfor %}

