<div class="clearfix mxn2">
  <div class="col md-col-8 sm-col-12 px2">
    <!-- <div class="bg-light-yellow pre h5 px2 py1 border-left bold">I am on the job market and looking for a
      faculty/research position starting from fall 2023. <br />
      Feel free to drop me an email at qianwen_wang@hms.harvard.edu</div> -->
    <h3 class="mt0 mb1">About me</h3>
    <p class="justify">
      Welcome to visit my site! I am Xian Xu (徐娴), currently a Research Assistant Professor at <a class="link about" href="https://emia.hkust.edu.hk/"
      target="_blank"> Division of Emerging Interdisciplinary Areas (EMIA)</a>, The Hong Kong University of Science and Technology (HKUST). I received my PhD degree in Individualized Interdisciplinary Program (Computational Media and Arts) at <a class="link about" href="http://vis.cse.ust.hk/" target="_blank"> HKUST VisLab</a> in The Hong Kong University of Science and Technology (HKUST) under the supervision of 
      Prof. <a class="link about" href="http://huamin.org/" target="_blank">Huamin Qu</a> and Prof. <a class="link about" href="https://www.daveyip.com/" target="_blank">David Yip</a>.
      I received my BA in Directing (Film and TV Producing) and MFA in Studies of Drama (Film and TV) from <a class="link about" href="http://web.zhongxi.cn/en/"
      target="_blank">The Central Academy of Drama</a> (中央戏剧学院).
      I am a research visiting scholar at Oxford University and Cambridge University. Besides, I am also an Associate at Cambridge Digital Humanities in
      <a class="link about" href="https://www.cdh.cam.ac.uk/about/people/xian-xu/" target="_blank">Cambridge University</a>.
    </p>

    <p class="justify">
      My research interests and artworks mainly focus on the interdisciplinary study of data-driven storytelling, cinematic arts,  
      arts education in VR or the Metaverse, and Human-Computer Interaction. 
      I devote myself to enhancing data-driven storytelling and arts education by extending not only the disciplinary depth but also the interdisciplinary breadth. 
      I am a five-time national scholarship winner and Beijing's outstanding graduate winner. 
      I had the privilege of being involved in the TV drama <i><a  href="https://en.wikipedia.org/wiki/Our_Glamorous_Time"
      target="_blank">Our Glamorous Time</a></i> as a scriptwriter. Furthermore, 
      I have authored a bestselling book titled <i><a  href="https://book.douban.com/subject/27111190/"
        target="_blank">I Like To Be Independent</a></i> and have conducted multiple promotional events and speaking engagements in major cities across China. 
      I am also passionate about movies and travel. I have been fortunate to explore numerous cities across China and various countries. 
      Additionally, I take great pleasure in capturing life's precious moments through the lens of a camera and expressing them through the art of words.
      

    </p>  
    
  </div>
  <div class="col md-col-4 sm-col-12 px2 ">
    <h3 class="mt0 mb0">News</h3>
    <div class="clearfix max-height-800 overflow-scroll">
      <ul class="dark-gray" style="padding-left: 25px;">
        {% for new in site.data.news %}
        <li class="h5 header-font">[<b>{{new.date}}</b>] {{ new.title }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<script>
  const makeCircle = (element) => {
    this.createCircle = (array, color, bgcolor, lineWidth = 3, type) => {
      const SEGMENTS = 30;
      const DIF = 360 / SEGMENTS;
      for (let i = 0; i < SEGMENTS; i++) {
        let angle = DIF * i;
        angle = (angle * Math.PI) / 180;
        let xoff, yoff;
        if (type == 1) {
          xoff = 50;
          yoff = 0;
        }
        if (type == 2) {
          xoff = -50;
          yoff = 0;
        }
        if (type == 3) {
          xoff = 0;
          yoff = -80;
        }
        const x = 150 + xoff + Math.cos(angle) * 80;
        const y = 180 + yoff + Math.sin(angle) * 80;
        const anchor = new Two.Anchor(x, y, x, y, x, y);
        anchor.originalX = x;
        anchor.originalY = y;
        array.push(anchor);
      }

      let circle = new Two.Path(array, true, true);
      circle.stroke = color;
      circle.linewidth = lineWidth;
      circle.fill = bgcolor;
      this.circlesContainer.add(circle);
      this.two.update();
    };

    this.onMouseMove = (e) => {
      if (e.touches) {
        // e.preventDefault();
        // e.stopPropagation();
        const rect = e.target.getBoundingClientRect();
        const center = {
          x: rect.left + rect.width / 2,
          y: rect.top + rect.height / 2,
        };
        this.mouseX = (e.touches[0].clientX - center.x) / center.x;
        this.mouseY = (e.touches[0].clientY - center.y) / center.y;
        this.mouseX = -this.mouseX;
        this.mouseY = -this.mouseY;
        this.mouseX = 150 + this.mouseX * 40;
        this.mouseY = 180 + this.mouseY * 40;
      } else {
        this.mouseX = e.offsetX == undefined ? e.layerX : e.offsetX;
        this.mouseY = e.offsetY == undefined ? e.layerY : e.offsetY;
      }
      this.mouseX = Math.max(0, Math.min(this.mouseX, 150));
      this.mouseY = Math.max(0, Math.min(this.mouseY, 180));
      this.drawCircle(this.blackPoints, 40, 0.2);
      this.drawCircle(this.yellowPoints, 40, 0.2, Quint.easeOut, 1, {
        x: (this.mouseX - 150) / 7,
        y: (this.mouseY - 220) / 7,
      });
      this.drawCircle(this.pinkPoints, 40, 0.2, Quint.easeOut, 1, {
        x: -(this.mouseX - 150) / 7,
        y: -(this.mouseY - 0) / 7,
      });
      this.drawCircle(
        this.bluePoints,
        40,
        0.1,
        Quint.easeOut,
        1,
        { x: (this.mouseX - 150) / 7, y: -(this.mouseY - 0) / 7 },
        true
      );
    };

    this.onMouseOut = (event) => {
      this.mouseX = this.mouseY = 0;
      this.drawCircle(this.blackPoints, 20, 0, Back.easeOut, 1, {
        x: this.mouseX + 0,
        y: this.mouseY + 0,
      });
      this.drawCircle(this.yellowPoints, 20, 0, Back.easeOut, 1, {
        x: this.mouseX - 50,
        y: this.mouseY + 0,
      });
      this.drawCircle(this.pinkPoints, 20, 0, Back.easeOut, 1, {
        x: this.mouseX + 0,
        y: this.mouseY - 80,
      });
      this.drawCircle(
        this.bluePoints,
        20,
        0,
        Back.easeOut,
        1,
        { x: this.mouseX + 50, y: this.mouseY - 0 },
        true,
        true
      );
    };

    updateTwo = () => {
      this.two.update();
    };

    this.drawCircle = (
      points,
      minCoef,
      multiplier,
      ease = Quint.easeOut,
      time = 1,
      centerOffset = { x: 0, y: 0 },
      update = false,
      out = false
    ) => {
      let mouseAngle =
        (Math.atan2(this.mouseY - 100, this.mouseX - 100) * 180) / Math.PI;
      if (mouseAngle < 0) {
        mouseAngle = 360 + mouseAngle;
      }
      const distance = Math.sqrt(
        Math.pow(this.mouseX - 100, 150) + Math.pow(this.mouseY - 100, 150)
      );
      const SEGMENTS = points.length;
      const DIF = 360 / SEGMENTS;
      for (let i = 0; i < SEGMENTS; i++) {
        let pointAngle = DIF * i;
        const anchor = points[i];
        pointAngle = (pointAngle * Math.PI) / 180;
        let radius = 40;
        const distanceToPoint = Math.sqrt(
          Math.pow(this.mouseX - anchor.originalX, 2) +
            Math.pow(this.mouseY - anchor.originalY, 2)
        );
        radius = minCoef + distanceToPoint * multiplier;
        radius = Math.max(80, Math.min(radius, 100));
        const x = 150 + centerOffset.x + Math.cos(pointAngle) * radius;
        const y = 180 + centerOffset.y + Math.sin(pointAngle) * radius;
        TweenMax.to(anchor, time, {
          x,
          y,
          lx: x,
          ly: y,
          rx: x,
          ry: y,
          ease: ease,
          onUpdate: update ? this.updateTwo : null,
        });
      }
    };

    this.two = new Two({ width: 300, height: 300 }).appendTo(element);
    this.circlesContainer = this.two.makeGroup();
    this.blackPoints = [];
    this.bluePoints = [];
    this.pinkPoints = [];
    this.yellowPoints = [];
    this.createCircle(this.bluePoints, "#AACFDA", "#AACFDA22", 2, 1);
    this.createCircle(this.yellowPoints, "#EAC983", "#EAC98322", 2, 2);
    this.createCircle(this.pinkPoints, "#F48B7B", "#F48B7B22", 2, 3);
    this.createCircle(this.blackPoints, "#000", 0);
    element.addEventListener("mouseout", this.onMouseOut);
    element.addEventListener("mousemove", this.onMouseMove);
    element.addEventListener("touchend", this.onMouseOut);
    element.addEventListener("touchmove", this.onMouseMove);
    TweenMax.fromTo(
      element,
      0.5,
      { scaleX: 0.2 },
      { scaleX: 1, ease: Back.easeOut }
    );
    TweenMax.fromTo(
      element,
      0.8,
      { scaleY: 0.2 },
      { scaleY: 1, ease: Back.easeOut, delay: 0.1 }
    );
  };
</script>

<!-- Research Themes -->
<!-- <h3>Research Themes</h3>
<div class="clearfix mxn2">
  <div class="col md-col-4 sm-col-6 xs-col-12 px1">
    <div style='background-image:url(/assets/img/themes/human-ai.png);width:100%; height: 200px;'
      class="bg-contain border">
      <div class=" bg-light-silver px1 py1 show-on-hover-container opacity-8">
        <p class="bold center mb0">
          <a class="dark-gray" href="/research/?tags=vis4ml">Human-AI Collaboration <i class="fa fa-external-link"></i>
          </a>
        </p>
        <p class="h5 dark-gray justify show-on-hover mb0">
          I design and develop tools to facilitate Human-AI collaboration,
          which also drives my investigation on visualization techniques, algorithms, and design frameworks.
        </p>
      </div>
    </div> -->
    <!-- <img src="/assets/img/projects/nest_xai.png" class="theme"/> -->

  <!-- </div>

  <div class="col md-col-4 sm-col-6 xs-col-12 px1">
    <div style='background-image:url(/assets/img/projects/narvis.png);width:100%; height: 200px;' class="bg-contain">
      <div class=" bg-light-silver px1 py1 show-on-hover-container opacity-8">
        <p class="bold center mb0">
          <a class="dark-gray" href="/research/?tags=ml4vis+design">Automatic &
            Intelligent Visualization <i class="fa fa-external-link"></i></a>
        </p>
        <p class="h5 dark-gray justify show-on-hover mb0">
          I propose techniques, authoring tools, and machine learning algorithms in pursuit of making visualizations
          that
          can be accurately
          interpreted and easily used by everyone.
        </p>
      </div>
    </div>
  </div>

  <div class="col md-col-4 sm-col-6 xs-col-12 px1">
    <div style='background-image:url(/assets/img/themes/drug.png);width:100%; height: 200px;' class="bg-contain">
      <div class=" bg-light-silver px1 py1 show-on-hover-container opacity-8">
        <p class="bold center mb0">
          <a class="dark-gray" href="/research/?tags=biomed">VIS+(X)AI in Biomed/Healthcare
            <i class="fa fa-external-link"></i>
          </a>
        </p>
        <p class="h5 dark-gray justify show-on-hover mb0">
          Through wide collaboration, I am studying how VIS + (X)AI can promote scientific discoveries, especially
          in the field of biomedicine and
          healthcare
          (e.g., genomics, single-cell, and cohort analysis).
        </p>
      </div>
    </div>
  </div>

</div> -->