---
layout: default
title: "Creations"
redirect_from: "/creations"
header_title: Creations
include_header: page_header.html
nav_item: creations
---
<h3 class="px3">Virtual Soundstage - Art Mirror (2022)</h3>

<div class="flex flex-wrap flex-start">
  {% for talk in site.data.creations.soundstage.talks %}
    <div class="border-bottom border-light-gray px3 md-col-12 sm-col-12">
      
      <div class="iframe-wrapper">
        {% if talk.embed_url %}
        <iframe data-src="{{ talk.embed_url }}" frameborder="0" allowfullscreen class="lazyload"></iframe>
        {% else %}
        <video controls poster="{{talk.video_poster}}"> <source src='{{talk.local_video}}' type="video/mp4"/> </video>
        {% endif %}
      </div>
        <p class="h5 bold mb0">{{ talk.name }}</p> 
        <span class="h5">{{ talk.description }}</span>
      <p class="h6 mb0 tight-line-height">
        {% for link in talk.links %}
          <a href="{{ link.url }}" target="_blank">{{ link.label }}</a>{% unless forloop.last %}|{% endunless %}
        {% endfor %}      
      </p>
    </div>
  {% endfor %}
  </div>



<h3 class="px3">Four cinematic data video endings with punctuation marks (2022)</h3>

<div class="flex flex-wrap flex-start">
  {% for poster in site.data.creations.cinematic.posters %}
    <div class="col sm-col-12 px2 mt2 mb0 {% if forloop.last %}mb0{% endif %}" style="min-height: 120px">
        <a href="/assets/img/projects/{{poster.url}}" target="_blank" class="block button button-transparent button-narrow border border-light-gray px1 py1">
          <img 
          style= "image-orientation: from-image;"
        data-src="/assets/img/projects/{{poster.url}}" alt="{{poster.title}}" class="valign-middle lazyload">
          <div class="px1 pt1 center">
            <span class="mt0 mb0 h6 header-font">{{poster.title}}</span>
          </div>
          </a>
      </div>
  {% endfor %}
</div>

<div>
  <div class="flex flex-wrap flex-start">
    {% for talk in site.data.creations.cinematic.talks %}
      <div class="border-bottom border-light-gray px3 md-col-6 sm-col-12">
        
        <div class="iframe-wrapper">
          {% if talk.embed_url %}
          <iframe data-src="{{ talk.embed_url }}" frameborder="0" allowfullscreen class="lazyload"></iframe>
          {% else %}
          <video controls poster="{{talk.video_poster}}"> <source src='{{talk.local_video}}' type="video/mp4"/> </video>
          {% endif %}
        </div>
          <p class="h5 bold mb0">{{ talk.name }}</p> 
          <span class="h5">{{ talk.description }}</span>
        <p class="h6 mb0 tight-line-height">
          {% for link in talk.links %}
            <a href="{{ link.url }}" target="_blank">{{ link.label }}</a>{% unless forloop.last %}|{% endunless %}
          {% endfor %}      
        </p>
      </div>
    {% endfor %}
  </div>
</div>

<h3 class="px3">My television scriptwriting work <a href="https://en.wikipedia.org/wiki/Our_Glamorous_Time" target="_blank">Our Glamorous Time</a></h3>

<div class="flex flex-wrap flex-start">
{% for photo in site.data.creations.scriptwriting.photos %}
<div class="col sm-col-6 px2 mt2 mb2 {% if forloop.last %}mb4{% endif %}" style="min-height: 300px">
    <a href="/assets/img/photos/glamorous_time/{{photo.url}}" target="_blank" class="block button button-transparent button-narrow border border-light-gray px1 py1">
      <img 
      style= "image-orientation: from-image;"
    data-src="/assets/img/photos/glamorous_time/{{photo.url}}" alt="{{photo.title}}" class="valign-middle lazyload">
      <div class="px1 pt1 center">
        <span class="mt0 mb0 h6 header-font">{{photo.title}}</span>
      </div>
      </a>
  </div>
{% endfor %}
</div>



<h3 class="px3">My first book I Like To Be Independent</h3>

<div class="flex flex-wrap flex-start">
  {% for photo in site.data.creations.book.photos %}
  <div class="col sm-col-6 px2 mt2 mb2 {% if forloop.last %}mb4{% endif %}" style="min-height: 300px">
      <a href="/assets/img/photos/book/{{photo.url}}" target="_blank" class="block button button-transparent button-narrow border border-light-gray px1 py1">
        <img 
        style= "image-orientation: from-image;"
      data-src="/assets/img/photos/book/{{photo.url}}" alt="{{photo.title}}" class="valign-middle lazyload">
        <div class="px1 pt1 center">
          <span class="mt0 mb0 h6 header-font">{{photo.title}}</span>
        </div>
        </a>
    </div>
  {% endfor %}
  </div>

<h3 class="px3">My short film work as a director and screenwriter</h3>

<div class="flex flex-wrap flex-start">
  {% for talk in site.data.creations.films.videos %}
    <div class="border-bottom border-light-gray px3 md-col-12 sm-col-12">
      
      <div class="iframe-wrapper">
        {% if talk.embed_url %}
        <iframe data-src="{{ talk.embed_url }}" frameborder="0" allowfullscreen class="lazyload"></iframe>
        {% else %}
        <video controls poster="{{talk.video_poster}}"> <source src='{{talk.local_video}}' type="video/mp4"/> </video>
        {% endif %}
      </div>
        <p class="h5 bold mb0">{{ talk.name }}</p> 
        <span class="h5">{{ talk.description }}</span>
      <!-- <p class="h6 mb0 tight-line-height">
        {% for link in talk.links %}
          <a href="{{ link.url }}" target="_blank">{{ link.label }}</a>{% unless forloop.last %}|{% endunless %}
        {% endfor %}      
      </p> -->
    </div>
  {% endfor %}
  </div>

<h3 class="px3">Photo shoots Daytime in Kashgar (2020)</h3>

<div class="flex flex-wrap flex-start">
  {% for talk in site.data.creations.album.photos %}
    <div class="border-bottom border-light-gray px3 md-col-12 sm-col-12">
      <a href="/assets/img/photos/{{talk.url}}" target="_blank" class="block button button-transparent button-narrow border border-light-gray px1 py1">
        <img 
        style= "image-orientation: from-image;"
      data-src="/assets/img/photos/{{talk.url}}" class="valign-middle lazyload">
        <div class="px1 pt1 center">
        </div>
        </a>
        <p class="h5 bold mb0">{{ talk.name }}</p> 
        <span class="h5">{{ talk.description }}</span>
      <p class="h6 mb0 tight-line-height">
        {% for link in talk.links %}
          <a href="{{ link.url }}" target="_blank">{{ link.label }}</a>{% unless forloop.last %}|{% endunless %}
        {% endfor %}      
      </p>
    </div>
  {% endfor %}
  </div>


<!-- 
<div class="flex flex-wrap flex-start">
{% for talk in site.data.talks.invited_talks.talks %}
  <div class="border-bottom border-light-gray px3 mb2 md-col-6 sm-col-12">
    <div class="iframe-wrapper">
      <iframe data-src="{{ talk.embed_url }}" frameborder="0" allowfullscreen class="lazyload"></iframe>
    </div>
    <p>
      <p class="h5 bold mb1">{{ talk.name }}</p> 
      {% for location in talk.locations %}
      <span class="block h5">{{ location }}</span>
      {% endfor %}    
    </p>
    <p class="h6 mb0 tight-line-height">
      {% for link in talk.links %}
        <a href="{{ link.url }}" target="_blank">{{ link.label }}</a>{% unless forloop.last %}|{% endunless %}
      {% endfor %}      
    </p>
  </div>
{% endfor %}
</div>

<div class="mt2 px3 left-align full-width">
  <h2 >Paper Previews</h2>
  {{ site.data.talks.paper_previews.subtitle }}
</div>

<div class="flex flex-wrap flex-start">
{% for talk in site.data.talks.paper_previews.talks %}
  <div class="border-bottom border-light-gray px3 md-col-6 sm-col-12">
    
    <div class="iframe-wrapper">
      {% if talk.embed_url %}
      <iframe data-src="{{ talk.embed_url }}" frameborder="0" allowfullscreen class="lazyload"></iframe>
      {% else %}
      <video controls poster="{{talk.video_poster}}"> <source src='{{talk.local_video}}' type="video/mp4"/> </video>
      {% endif %}
    </div>
      <p class="h5 bold mb0">{{ talk.name }}</p> 
      <span class="h5">{{ talk.description }}</span>
    <p class="h6 mb0 tight-line-height">
      {% for link in talk.links %}
        <a href="{{ link.url }}" target="_blank">{{ link.label }}</a>{% unless forloop.last %}|{% endunless %}
      {% endfor %}      
    </p>
  </div>
{% endfor %}
</div> -->