.clear-both {
  clear: both;
}

.square-100 {
  width: 150px;
  height: 150px;
}

.max-height-120 {
  max-height: 120px;
}

.max-height-400 {
  max-height: 400px;
}

.width-120 {
  width: 120px;
}

.icon {
  height: 2em;
}

img.theme {
  width: 100%;
}