.bg-dark-blue {
  background-color: #2c3e50;
}

.bg-splash-gray {
  background-color: #f5f8fa;
}

span.keyword{
  font-weight: bold;
}
span.vis, span.hci{
  color: cornflowerblue;
}
span.ml{
  color: orange;
}

a.link.about, .project.overview a{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:black;
  text-decoration: underline;
}

a.link.about{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:black;
  text-decoration: underline;
  font-size: 16px;
}

a.link.cv::after{
    font-family: FontAwesome;
    content: "\f0c1";
  }
a.link{
  font-size: 0.8em;
}

h2.project.cate{
  color: white;
  background: #333;
  padding: 10px 20px;
}

.show-on-hover-container .show-on-hover {
  max-height: 0px;
  height: 0px;
  transition: 0.4s ease-in;
  overflow: hidden;
}

.show-on-hover-container:hover .show-on-hover {
  max-height: 400px; // a big enough number to enable 0 -> 100% height transition
  height: 100% ;
}